@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

* {
	font-family: "Open Sans" !important;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
}

content {
	width: 960px;
	padding: 60px 0 0;
}

.banner {
	margin-bottom: 40px;
}

hr {
	border: none;
	border-bottom: solid 1px #ddd;
}