@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

* {
	font-family: "Open Sans" !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile */
@media only screen and (max-width: 400px) {
    body {
        /* background-color: #F09A9D; */

        display: flex;
        justify-content: center;
        margin: 5%;
    }

    content {
        width: 360px;
    }
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        /* background-color: #F5CF8E; */

        display: flex;
        justify-content: center;
        margin: 5%;
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {
    body {
        /* background-color: #B2D6FF; */

        display: flex;
        justify-content: center;
        margin: 5%;
    }

    content {
        width: 960px;
    }
}

.banner {
	margin-bottom: 40px;
}

.banner a:link, a:visited {
    text-decoration: none;
    color: black;
}

.banner a:hover, a:active {
    text-decoration: none;
    color: #009fda;
}

hr {
	border: none;
	border-bottom: solid 1px #ddd;
}
